<!DOCTYPE html>
<html>
<head>
    <title>pos</title>
  
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"> </script>-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<!--
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="font/css/font-awesome.min.css">
    
-->
         <!--  Scripts-->
  <script src="js/jquery-2.1.3.js"></script>
  <script src="js/materialize.min.js"></script>
    <script src="js/javascr.js"></script>
    
    <script>
       

    </script>
<style>
   
    
    </style>
    </head>
    <body>
        <div class="row #b9f6ca green accent-1">
    
    <form class="col s12 " id= "addTask">
      <div class="row">
        <div class="input-field col s10 ">
            
          <input placeholder="Placeholder" id="task_id" type="text" class="validate">
            
          <label for="first_name ">Task ID:     </label>
        </div>
        
        <div class="input-field col s6  ">
          <input id="task_title" type="text" class="validate">
          <label for="last_name">Task Title:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea "></textarea>
          <label for="textarea1">Task Description</label>
          </div>
      </div>
      <div class="row">
        <div class="input-field col s10 ">
           <input type="date" id="startdate" class="datepicker">
          <label for="password">start Date</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 ">
           <input type="date" id="enddate" class="datepicker">
          <label for="email">End Date</label>
            
        </div>
      </div>
        <button class="btn waves-effect waves-light #000000 black" id="hid">add Task
        
    <i class="material-icons right ">send</i>
  </button>
        </div>
 </form>
  </div>
        
    
       
    </body>
</html>