<!DOCTYPE html>
<html>
<head>
    <title>Nurse Management Task</title>
  
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"> </script>-->
<!--     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="font/css/font-awesome.min.css">
    
    
      
    <script>
        

        

        
    </script>
<style>
   
    
    </style>
    </head>
    <body>
        
          

      
<nav>
    
     <div class="nav-wrapper #009688 teal">
    <a href="#!" class="brand-logo"> Logo</a>
    <ul class="right hide-on-med-and-down #009688 teal">
      <li><a href="addTask.html">Add Task </a></li>
      <li><a href="assignedtask.html">Assign Task</a></li>
      <!-- Dropdown Trigger -->
      
  </div>
</nav>
    <div class="intro #eceff1 blue-grey #009688 teal">
<h1 class="#009688 teal grey-text-darkent-1 center">Welcome </h1>
        <h2 class ="#009688 teal grey-text-darkent-1 center">Nurse Task Management Application </h2><img class="responsive-img" width="100%" src="images/nurses.jpg">
</div>
      <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s10">
                <h4 class="white-text">Footer 
          <div class="footer-copyright">
            <div class="container">
            © 2015  JULATEH 
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>


  <!--  Scripts-->
  <script src="js/jquery-2.1.3.js"></script>
  <script src="js/materialize.min.js"></script>
 <script src="js/javascr.js"></script>
                  
 
       
    </body>
</html>