<html>
<head>
	
	<script type="text/javascript" src="../controllers/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="../controllers/index.js"></script>
</head>

<body>


  <input type="text" name="tn" id="tn">
  <input type="button" value="search" id="SearchButton">

  <table border='1'>
  	<thead>
  		<th>Task ID</th>
  		<th>Nurse ID</th>
  		<th>Task Title</th>
  		<th>Task Description</th>
  		<th>Task Start Date</th>
  		<th>Task End Date</th>
  	</thead>
  	<tbody>
  	</tbody>
  </table>

</body>
</html>