<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en">
    <head>
        <meta charset="UTF-8">
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <!--<meta name="viewport" content="width=device-width, initial-scale=2.0, maximum-scale=1.0, user-scalable=yes">-->
         <meta http-equiv="Pragma" content="no-cache">
         <meta http-equiv="Expires" content="-1">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>DASHBOARD</title>

        <!--Custom Css-->
        <link href="../assets/stylesheets/dashboard.css" rel="stylesheet" type="text/css">

        <!-- jQuery --> 
        <script src="../assets/javascripts/jquery-2.1.3.js"></script>
        <script type="text/javascript" src="../controllers/validation.js"></script>
        <!--<script src="../controllers/assignedtask.js"></script>-->

        <!--font awesome-->
        <link rel="stylesheet" href="../assets/font-awesome-4.3.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="../assets/font-awesome-4.3.0/css/font-awesome.css" type="text/css">

        <script>
            
            //function to send an ajax request
            function sendRequest ( u )
           {
               var obj = $.ajax({url:u,async:false});
                var result=$.parseJSON(obj.responseText);
                return result;
           }//end of sendRequest(u)

            
        //Function to load the list of task
            $(document).ready(function()
            {
                getTasks();
            });

            function getTasks()
            {
                var nurseid = 1;
               var url = "../controllers/user_controller.php?cmd=1&nurseid="+nurseid;
               var obj = sendRequest (url);
               var path = "";
                if ( obj.result === 1 )
                {
                    $(".tasks2").hide();
                    $(".tasks").slideDown().show();
                    path = $(".path").val();
                    var div = "";
                    var timer;
                    for ( var index in obj.tasks )
                    {
                        div += "<div class='showcontentdetailsinnertile showcontentdetailsinnertile2'\n\
                                    onclick='getPreview ( "+obj.tasks[index].task_id+" )'>";
                        div += "<input class='showcontentdetailsinnertilecheckbox showcontentdetailsinnertilecheckbox2'\n\
                                    value="+obj.tasks[index].task_id+" name='todelete[]' type='checkbox'>";
                        div += "<div class='showcontentdetailsinnertilename'>";
                        div += "<span>"+obj.tasks[index].name+"</span>";
                        div += "<div class='showcontentdetailsinnertiledelete showcontentdetailsinnertiledelete2' \n\
                                    style='float:right; margin-right:10px'>";
                        div += "<a class='delete' style='padding: 7px' id="+obj.tasks [index].task_id+"><i id='deleteicon' \n\
                                    class='fa fa-trash-o'></i></a>";
                        div += "</div>";
                        div += "</div>";
                        div += "<div class='showcontentdetailsinnertiletitle'>\n\
                                    <span>"+obj.tasks [index].task_title+"</span></div>";
                        div += "<div class='showcontentdetailsinnertiledescription'>\n\
                                    <span>"+obj.tasks [index].task_description+"</span></div>";
                        div += "</div>";
                    }
                    $ ( ".showcontentdetailsinner" ).html ( div );
//                     $ ( "#divStatus" ).text ( "Found " + obj.products.length + " results" );
                }
                else
                {
//                        $ ( "#divStatus" ).text ( obj.message );
//                        $ ( "#divStatus" ).css ( "backgroundColor", "red" );
                }

                timer = setTimeout ( '', 1000 );
//            });
}

            //function to get description of task
            function getPreview (id)
            {
                $(".previewprompttext").hide();
                $(".addtaskbutton").fadeOut().hide();
                $(".newtaskbutton").slideDown().show();
                $(".updatetaskbutton").slideDown().show();
                $(".edittaskbutton").slideDown().hide();
                var theUrl="../controllers/user_controller.php?cmd=1&task_id="+id;
                var obj = sendRequest ( theUrl );		
                if ( obj )
                {
                     $(".preview").slideDown ( 'slow', function ( )
                    {
                       $ ( this ).show( );
                    });             

                    $(".showpreviewinnercontentheaderimage img").attr( "src", obj.user_picture );
                    $(".previewcontentheaderbodyname2").html( obj.user_fname +" "+ obj.user_sname );
                    $(".previewcontentheaderbodytitle2").html ( obj.task_title );
                    $(".previewcontentheaderbodydescription2").html ( obj.task_description );
                    $(".previewcontentheaderbodycollaborator2").html ( obj.task_collaborator );
                    $ ( ".showpreviewinner2upper").html ( obj.task_id );
                    $(".previewcontentheaderbodydate2").html("Date start:&nbsp "+ obj.task_start_date );
                    $(".previewcontentheaderbodydate3").html("Date end:&nbsp "+ obj.task_end_date );
//                    $(".previewcontentheaderbodystatus").html("Status:&nbsp " +obj.task_status );

//                    console.log(obj.task_title);
//                    console.log(obj.task_description);
                }
                else
                {
                    alert("failed to preview a task");
                }
                 $(".add").hide();
                 $(".update").hide();
            }


   


        //function to hide the content and display mytasks
        $(function ()
        {
            $("#mytasks").click( function ()
            {
                $(".tasks").hide();
               var url = "../controllers/user_controller.php?cmd=10";
               var obj = sendRequest ( url );
               var path = "";
                if ( obj.result === 1 )
                {
                    path = $(".path").val();
                    $("#profileimage").attr("src", path );
                    var div = "";
//                    var timer;
                    for ( var index in obj.tasks )
                    {
                        div += "<div class='showcontentdetailsinnertilemy showcontentdetailsinnertile2my'\n\
                                    onclick='getPreview ( "+obj.tasks [index].task_id+" )'>";
                        div += "<input class='showcontentdetailsinnertilecheckboxmy showcontentdetailsinnertilecheckbox2my'\n\
                                    value="+obj.tasks [index].task_id+" name='todelete[]' type='checkbox'>";
                        div += "<div class='showcontentdetailsinnertilenamemy'>";
                        div += "<span>"+obj.tasks[index].name+"</span>";
                        div += "<div class='showcontentdetailsinnertiledeletemy showcontentdetailsinnertiledelete2my' \n\
                                    style='float:right; margin-right:10px'>";
                        div += "<a class='delete' style='padding: 7px' id="+obj.tasks [index].task_id+"><i id='deleteiconmy' \n\
                                    class='fa fa-trash-o'></i></a>";
                        div += "</div>";
                        div += "</div>";
                        div += "<div class='showcontentdetailsinnertiletitlemy'>\n\
                                    <span>"+obj.tasks [index].task_title+"</span></div>";
                        div += "<div class='showcontentdetailsinnertiledescriptionmy'>\n\
                                    <span>"+obj.tasks [index].task_description+"</span></div>";
                        div += "</div>";
                    }
                    $ ( ".showcontentdetailsinnermy" ).html ( div );
                    $(".tasks2").show();
//                     $ ( "#divStatus" ).text ( "Found " + obj.products.length + " results" );
                }
                else
                {
//                        $ ( "#divStatus" ).text ( obj.message );
//                        $ ( "#divStatus" ).css ( "backgroundColor", "red" );
                }
            });
        });

        </script>




</head>
    <body>

        <div class="maincontainer">
            <div class="innercontainer">
                <div class="header" id="header">
                     <div class="headercontent">
<div class="">
    <img id="profileimage" src="" class="fa fa-user"  style="width: 50px; height: 50px; float: right">
</div>
<div style="height: 50px; width: 5px; float: right; background-color: black; margin: 0px"></div>

<div style="float: right; width: 50px; height: 50px; margin: 0px; text-align: center">
    <button style="float: right; width: 50px; height: 50px; margin: 0px; text-align: center">
        <span>
            <i class="fa fa-2x fa-question" style="color: white; padding-top: 8px"></i>
        </span>
    </button>
</div>
 <div style="height: 50px; width: 5px; float: right; background-color: black; margin: 0px"></div>
 <div style="float: right; width: 50px; height: 50px; margin: 0px; text-align: center">
    <button style="float: right; width: 50px; height: 50px; margin: 0px; text-align: center">
        <span>
            <i class="fa fa-2x fa-cog" style="color: white; padding-top: 8px"></i>
        </span>
    </button>
</div>
 <div style="float: left; width: 50px; height: 50px; margin: 0px; text-align: center">
    <button style="float: right; width: 50px; height: 50px; margin: 0px; text-align: center">
        <span>
            <i class="fa fa-2x fa-th" style="color: white; padding-top: 8px"></i>
        </span>
    </button>
</div>
  <div style="float: left; width: 350px; height: 50px; margin: 0px; text-align: center; padding-top: 10px">
        <span>
        </span>
  </div>
</div>
                    </div>

                </div>
                <div class="inner2container">

                    <div class="leftnavmenu">
                        <div class="leftnavmenuinner">
                            <div class="leftnavmenuinnertop">

                            </div>

                            <div class="leftnavmenuinnerdown">
                                <div class="leftnavmenuinnerdownnav">
                                     
                                    <div>
                                        <button class="buttonsbuttons" onclick="display_assigned()">
                                            <span><i class="">&nbsp;&nbsp;&nbsp;Assigned Tasks</i></span>
                                        </button>
                                    </div>
                            </div>

                            <div class="leftnavmenuinnernotification">
                                <div class="leftnavmenuinnernotificationinner" style="padding-top: 50px;">
                                    Notification:</br>
                                    <span class="notifications"></span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="seperator"></div>

                    <div class="showcontent">
                              <div class="tasks">
<div class="showcontenttop"></div>
    <div class="showcontenttoplabel">
        Assigned Tasks&nbsp;<a id="tasknum"></a>
    </div>

    <div class="showcontenttopsearch">
        <input class="showcontenttopsearchfield" placeholder="Search" type="text" style="">
        <div style="float: right; padding-right: 34px; padding-top: 9px">
            <span><i id="searchicon" class="fa fa-flip-horizontal fa-search"></i></span>
        </div>
    </div>

<div class="showcontentdetails">
    <div class="showcontentdetailsinner">
    </div>
</div>
</div>



<div class="tasks2" style="display: none">
<div class="showcontenttopmy"></div>
    <div class="showcontenttoplabelmy">
        Created Tasks&nbsp;<a id="tasknum"></a>
    </div>

    <div class="showcontenttopsearchmy">
        <input class="showcontenttopsearchfieldmy" placeholder="Search" type="text" style="">
        <div style="float: right; padding-right: 34px; padding-top: 9px">
            <span><i id="searchiconmy" class="fa fa-flip-horizontal fa-search"></i></span>
        </div>
    </div>

<div class="showcontentdetailsmy">
    <div class="showcontentdetailsinnermy">
    </div>
</div>
</div>
                    </div>

                    <div class="seperator2"></div>

                    <div class="showpreview">
                        <div class="showpreview2" style="padding-top: 20px">
                            <div class="showpreviewinner">
                                <div class="showpreviewinner2">
                                    <div style="display: none" class="showpreviewinner2upper">
                                        <span>Just Something will go here</span>
                                    </div>

                                    <!--<div class="showpreviewinnercontent">-->
                                    <div class="showpreviewinnercontentheaderinnerbuttons" style="padding-top: 20px">

                                            <button id="addtaskbutton" onclick="validateTask ( )" title="Submit" class="addtaskbutton" type="button">
                                                  <span style="padding-bottom: 7px; padding-top: 7px">
                                                      <i id="addtaskicon" class="fa fa-2x fa-code"></i>
                                                  </span>
                                              </button>

                                             <button id="newtaskbutton" title="New task" class="newtaskbutton" type="button">
                                                  <span style="padding-bottom: 7px; padding-top: 7px">
                                                      <i id="newtaskicon" class="fa fa-2x fa-plus"></i>
                                                  </span>
                                              </button>

                                              <button id="deletetaskbutton" title="Delete Tasks" class="deletetaskbutton" type="button">
                                                  <span style="padding-bottom: 7px; padding-top: 7px">
                                                      <i class="fa fa-2x fa-trash-o"></i>
                                                  </span>
                                              </button>

                                              <button class="updatetaskbutton" title="Edit Task" type="button">
                                                  <span style="padding-bottom: 7px; padding-top: 7px">
                                                      <i class="fa fa-2x fa-flip-horizontal fa-pencil"></i>
                                                  </span>
                                              </button>

                                              <button id="edittaskbutton" onclick="editTask ( )" title="Update" class="edittaskbutton" type="button">
                                                  <span style="padding-bottom: 7px; padding-top: 7px">
                                                    <i id="edittaskicon" class="fa fa-2x fa-flip-horizontal fa-pencil-square"></i>
                                                  </span>
                                              </button>

                                    </div>
                                    <div class="preview" style="display: none">
        <div class="showpreviewinnercontentheader">

        <!--</div>-->
            <div class="showpreviewinnercontentheaderinner">

                <div class="previewcontentheaderbody">

                    <div class="showpreviewinnercontentheaderimage">
                        <img src="" alt="...">
                     </div>
                    <div class="previewcontentheaderbodynamecontainer">
                        <div class="previewcontentheaderbodyname">
                            <span style="padding-left: 20px" class="previewcontentheaderbodyname2">Name</span>
                        </div>
                        <div class="previewcontentheaderbodydate">
                            <span style="padding-left: 20px" class="previewcontentheaderbodydate2">Date</span></br>
                            <span style="padding-left: 20px" class="previewcontentheaderbodydate3">Date</span></br>
                            <span style="padding-left: 20px" class="previewcontentheaderbodystatus">Status</span>
                        </div>
                         <div class="previewcontentheaderbodycollaborator">
                    </div>
                </div>
            </div>
        </div>

        <div class="previewcontentheaderbodytitle">
            <span class="previewcontentheaderbodytitle2">Task Title</span>
       </div>

        <div class="previewcontentheaderbodydescription">
            <span style="padding-left: 20px" class="previewcontentheaderbodydescription2">Task Description</span>
        </div>
</div>
                                    <div class="previewprompttext" style="width: 100%; height: 100%; padding-top: 400px;
                                         text-align: center">
                                        Please select a task to preview its details
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: none" class="footer" id="footer">

        </div>
    </body>
</html>